/* danh sửa css  */
#nav1{
  height: 6rem;
  display: flex;
  align-items: center;
}
#div1{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#anhnen1 {
  background: URL(/images/hinh1.jpg); 
  background-size: cover ; 
  height: 580px;
}
.form1{
  width: 500px; 
  height: 500px;
  margin-left: 1200px; 
  text-align: center; 
  background-color: white; 
  position: absolute; 
  top: 130px;
  right: 100px;
  border-radius: 7px;
}
#username{
  width: 400px;
  margin: 35px 50px;
  height: 40px;
}
#password{
  width: 400px;
  margin: 35px 50px;
  height: 40px;
}
#userAdmin{
  width: 450px;
  margin: 35px 50px;
  height: 50px;
}
#passAdmin{
  width: 450px;
  margin: 35px 50px;
  height: 50px;
}
#buttonlogin{
  width: 400px;
  margin: 35px 50px;
  height: 50px;
}
#regisName{
  width: 400px;
  margin: 35px 50px;
  height: 50px;
}
#regisUser{
  width: 400px;
  margin: 35px 50px;
  height: 50px;
}
#regisPass{
  width: 400px;
  margin: 35px 50px;
  height: 50px;
}
a{
  color: black;
}
a:hover {
  color : rgb(235, 211, 0);
  text-decoration: none;
}